*{
    font-family: 'Tahoma', Segoe UI , Geneva, Verdana, sans-serif !important;
}

.cursor{
    cursor: pointer;
    color: black;
}

.text-decorator-none {
    text-decoration: none;
}

.navbar {
    background-color: blueviolet !important;

}