.container {
    background-color: rgb(102, 110, 110);
}

.titulo {
    font-weight: bold !important;
}

.botaoPost {
    border-color: black !important;
    background-color: rgb(107, 102, 110);
    color: black !important
}

.postagens{
    background-color: white;
}

.text-decorator-none {
    text-decoration: none;
}